/* /Pages/BlogPostDetail.razor.rz.scp.css */
#blog-post[b-cynfer7zso]  img {
    display: block;
    margin: 20px auto;
}

#blog-post[b-cynfer7zso]  pre span {
    margin: 0;
}

#blog-post[b-cynfer7zso]  pre span p {
    margin: 4px !important;
}

#blog-post[b-cynfer7zso]  pre p {
    margin: 4px !important;
}

#blog-post[b-cynfer7zso]  a {
    text-decoration: underline;
}

#blog-post[b-cynfer7zso]  .fr-inner{
    margin: auto;
    display: table;
    font-size: small;
    font-style: italic;
}
/* /Pages/Index.razor.rz.scp.css */
#blog-posts[b-qggb7fpn78] .blog-divider {
    border: dotted 1px darkgray;
    width: 100%;
}
/* /Shared/MainLayout.razor.rz.scp.css */
#header[b-rahdb60e8z] .logo {
    width: 70px;
    transform: rotate(-7deg);
}
