@page "/post/{Slug}/{PageLocation:int}"

<div id="blog-post">
    <MudGrid>
        @if (_loading)
        {
            <MudItem xs="2"/>
            <MudItem xs="8" Class="d-flex justify-center">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" Class="ml-10"/>
            </MudItem>
            <MudItem xs="2"/>
        }

        @if (_post is {Object: { } } && !_loading)
        {
            <MudItem xs="2"/>
            <MudItem xs="8">
                <MudText Typo="Typo.body2">
                    @((MarkupString) _post.Object.Content)
                </MudText>
            </MudItem>
            <MudItem xs="2"/>
        }
        else
        {
            <MudItem xs="12" Class="d-flex justify-center">
                <MudAlert Dense="true" Severity="Severity.Normal"
                          Variant="Variant.Outlined" Style="width: 65%">
                    Nothing here yet ...
                </MudAlert>
            </MudItem>
        }
        
        <MudItem xs="2"/>
        <MudItem xs="8" Class="d-flex justify-start">
            <MudButton Variant="Variant.Filled" Size="Size.Small"
                       StartIcon="@Icons.Material.Filled.ArrowBack"
                       Color="Color.Surface" OnClick="BackClick">
                Back
            </MudButton>
        </MudItem>
        <MudItem xs="2"/>
    </MudGrid>
</div>