#blog-post ::deep img {
    display: block;
    margin: 20px auto;
}

#blog-post ::deep pre span {
    margin: 0;
}

#blog-post ::deep pre span p {
    margin: 4px !important;
}

#blog-post ::deep pre p {
    margin: 4px !important;
}

#blog-post ::deep a {
    color: #7aafe5;
}

#blog-post ::deep .fr-inner{
    margin: auto;
    display: table;
    font-size: small;
    font-style: italic;
}

#blog-post ::deep .mud-divider{
    border: dotted 1px darkgray;
    width: 100%;
}