@page "/"
@page "/{Page:int}"

<PageTitle>Sharp Splash Blog</PageTitle>

<div id="blog-posts">
    <MudGrid Justify="Justify.Center">
        @if (_loading)
        {
            <MudItem xs="3"/>
            <MudItem xs="6" Class="header d-flex justify-center mb-5">
                <MudProgressCircular Color="Color.Default" Indeterminate="true" Class="ml-10"/>
            </MudItem>
            <MudItem xs="3"/>
        }
        else
        {
            @if (_allPosts.Objects.Any())
            {
                @foreach (var post in _allPosts.Objects)
                {
                    <BlogPost Post="post" PageLocation="Page"/>
                }
            }
            else
            {
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudAlert Dense="true" Severity="Severity.Warning"
                              Variant="Variant.Outlined" Style="width: 35%">
                        Nothing here yet ...
                    </MudAlert>
                </MudItem>
            }
        }
        @if (!_loading)
        {
            <MudItem xs="12" sm="12" xl="12">
                @if (Page > 0)
                {
                    <span style="margin-left: 22%">
                        <MudButton Variant="Variant.Filled" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.ArrowBack"
                                   Color="Color.Surface" OnClick="RecentClick">
                            Recent
                        </MudButton>
                    </span>
                }
                else
                {
                    <span style="margin-left: 30%"></span>
                }
                <span style="margin-left: 20%">
                    <a href="https://app.cosmicjs.com/add-bucket?import_bucket=61fe9961f7630c0008e7b670">
                        <img src="https://web-assets.cosmicjs.com/images/powered-by-cosmic.svg"/>
                    </a>
                </span>
                <span style="margin-left: 19%">
                    @if (!_noMorePosts)
                    {
                        <MudButton Variant="Variant.Filled" Size="Size.Small"
                                   EndIcon="@Icons.Material.Filled.ArrowForward"
                                   Color="Color.Surface" OnClick="OlderClick">
                            Older
                        </MudButton>
                    }
                </span>
            </MudItem>
        }
    </MudGrid>
</div>