@inherits LayoutComponentBase

<MudThemeProvider Theme="ThemeProvider.CurrentTheme"
                  @bind-IsDarkMode="ThemeProvider.IsDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <div id="header">
                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-center mb-10">
                        <MudImage Src="@_logoUri" Alt="To the moon!" Class="ml-5 mr-3 logo"/>
                        <MudText Typo="Typo.h3" Class="ml-5">{ # Splash }</MudText>
                        <MudSwitch @bind-Checked="@ThemeProvider.IsDarkMode"
                                   Color="Color.Default" T="bool" Class="ml-10"/>
                        <MudIcon Icon="@_darkModeStateIcon" Size="Size.Small" Class="mt-6"/>
                    </MudItem>
                </MudGrid>
            </div>
            @Body
            <div id="footer">
                <MudGrid>
                     <MudItem xs="12" Class="d-flex justify-center mt-10">
                        <span>
                            <a href="https://app.cosmicjs.com/" target="_blank">
                                <img src="https://web-assets.cosmicjs.com/images/powered-by-cosmic.svg" 
                                     alt="Powered by cosmic"/>
                            </a>
                        </span>
                    </MudItem>
                </MudGrid>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>