@inherits LayoutComponentBase

<MudThemeProvider Theme="ThemeProvider.CurrentTheme"
                  @bind-IsDarkMode="ThemeProvider.IsDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <div id="header">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="3"/>
                    <MudItem xs="6" Class="header d-flex justify-center mb-5">
                        <MudImage Src="@_logoUri" Alt="To the moon!" Class="ml-5 logo"/>
                        <MudText Typo="Typo.h3" Class="ml-5">{ # Splash }</MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudIcon Icon="@_darkModeStateIcon" Size="Size.Small" Class="mr-2"/>
                        <MudSwitch @bind-Checked="@ThemeProvider.IsDarkMode" 
                                   Color="Color.Default" T="bool"/>
                    </MudItem>
                </MudGrid>
            </div>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>